@page
@model webApp.Pages.credCheck.IndexModel

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Design</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="big-triangle"></div>
    <div class="small-triangle"></div>
    <div class="section">
        <div class="row section-row">
            <div class="col-lg-4 d-flex d-sm-flex justify-content-center justify-content-sm-center left-column">
                <div class="d-xl-flex card">
                    <img class="card-logo" src="img/visa-logo-black-and-white.png">
                    <div class="row d-flex align-items-center expiration">
                        <div class="col-2 col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center card-number-column">
                            <div class="mini-circle"></div>
                        </div>
                        <div class="col-1 col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center card-number-column">
                            <div class="mini-circle"></div>
                        </div>
                        <div class="col-2 col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center card-number-column">
                            <p class="d-flex justify-content-center expiration-slash">/</p>
                        </div>
                        <div class="col-2 col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center card-number-column">
                            <div class="mini-circle"></div>
                        </div>
                        <div class="col-2 col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center card-number-column">
                            <div class="mini-circle"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="margin-right: 10%;margin-left: 10%;">
                        <div class="row d-flex d-lg-flex justify-content-center justify-content-lg-center card-number-row">
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                        </div>
                        <div class="row d-flex d-lg-flex justify-content-center justify-content-lg-center card-number-row">
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                        </div>
                        <div class="row d-flex d-lg-flex justify-content-center justify-content-lg-center card-number-row">
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                        </div>
                        <div class="row d-flex d-lg-flex justify-content-center justify-content-lg-center card-number-row">
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                            <div class="col-2 col-xl-3 d-xl-flex justify-content-xl-center card-number-column">
                                <div class="number-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex credcheck-logo">
                    <p class="d-flex d-lg-flex d-xl-flex align-items-end align-items-lg-end align-items-xl-end powered-by-txt">Powered by&nbsp;</p>
                    <p class="credcheck-txt">CredCheck</p>
                </div>
            </div>
            <div class="col d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center right-column">
                <form method="post">
                    <div class="form-row title-row">
                        <div class="col">
                            <h1 id="heading">Card Details</h1>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Card Number</label>
                                <div class="form-row">
                                    <div class="col-11 col-sm-11 col-lg-11"><input class="form-control" type="text" required="" minlength="16" maxlength="16" placeholder="XXXX - XXXX - XXXX - XXXX" name="cardNumber"></div>
                                    <div class="col-1 col-sm-1 col-lg-1"><i class="fa fa-eye-slash visibilityIcon"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Expiration</label>
                                <div class="form-row">
                                    <div class="col-11 col-sm-10 col-lg-10"><input class="form-control" type="text" required="" placeholder="MM / YY" name="expirationDate"></div>
                                    <div class="col-1 col-sm-2 col-lg-2"><i class="fa fa-eye-slash visibilityIcon"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>CVV</label><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-question-circle questionIcon">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"></path>
                                </svg>
                                <div class="form-row">
                                    <div class="col-11 col-sm-10 col-lg-10"><input class="form-control" type="text" required="" minlength="3" maxlength="3" placeholder="XXX" name="cvv"></div>
                                    <div class="col-1 col-sm-2 col-lg-2"><i class="fa fa-eye-slash visibilityIcon"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row submit-row">
                        <div class="col-11 col-sm-11"><button id="submitBtn" class="btn btn-primary submit-btn" type="submit">Submit<i class="icon ion-android-arrow-forward arrow-icon"></i></button></div>
                    </div>
                    <br>
                    <div>@Model.response</div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

<script>
    // prevent page refresh
    document.getElementById("submitBtn").addEventListener("click", function (event) {
        //event.preventDefault()
        console.log("Prevent Default")
    });
</script>