@{
    ViewData["Title"] = "Bitpay";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
    <div>
        <input type="email" name="email" required placeholder="Enter your email" />
    </div>
    <br/>
    <div>
        <input type="image" src="https://test.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="submit" style="width: 210px" alt="BitPay, the easy way to pay with bitcoins." />
    </div>
</form>
