@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome to Cred Check!</h1>
            <p>Click add card to add your credit card to our database!</p>
        </div>
    </body>
</html>

